@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for the body */
body {
  @apply flex justify-center items-center py-4;
  background-color: #ffffff;
  max-width: 428px;
}

/* Custom class for a long button */
.long-btn {
  @apply h-10 w-40 font-bold rounded-md;
}

.download-button {
  background-color: #f1e7fe;
  color: #7612fa;
}

/* Custom gradient background class */
.custom-gradient-bg {
  background-image: linear-gradient(to right, #49b6f9, #7b10ff, #f10be7);
  color: #ffffff;
}

/* Custom variant with a solid border, text color, and inherited background */
.custom-variant {
  @apply border-2 border-solid border-[#FA14E3] text-[#FA14E3];
  background-color: inherit;
}

.max-width {
  max-width: 350px;
}
